body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #F5F3F7;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #32292F;
  border-left: 1px solid #32292F;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #32292F;
  border-radius: 0;
  border-bottom: 10px solid #32292F;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid #ECE8EF;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: #ECE8EF;
}

.present {
  background-color: #ff6961;
  color: #ECE8EF;
}

.future {
  background-color: #77dd77;
  color: #ECE8EF;
}

.saveBtn {
  border-left: 1px solid #32292F;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: #ECE8EF;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

/* ===== Time Block Styling ===== */

.input-group-append button:focus{
  background-color: #A4C2A8;
}

.input-group-text, .form-control{
  color: #32292F;
  border: 1px solid #32292F;
  font-size: 20px;
}

.input-group-prepend .input-group-text{
  min-width: 90px;
  background-color: #ECE8EF;
}

.input-group-append button{
  color: #32292F;
  background-color: #ECE8EF;
}

.btn:focus, .form-control:focus {
  outline: none;
  box-shadow: none;
}